.navbar{
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 0;
    justify-content: flex-end;
  }
  .navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .navbar a:hover{
    background-color:rgb(255, 251, 251);
  
  }
  h2{
    font-size: 45px;
    padding: none;
    margin: none;
  }
  .parag{
    font-size: 20px;
  }
  .img1{
    border-radius: 100%;
    margin-left: 150px;
   float: right;
    height: 250px;
    width: 300px;
    margin-right: 350px;
   


  }
  .port{
    margin-left: 100px;
  }
  .btn{
    font-size: 18px;
 
   background-color: lightcoral;
   color: white;
  border-color: lightcoral;
 

  }
  .move1{
    font-size: 20px;
margin-right: 600px;
padding-right: 400px;
    
  }
  
  
  .move2{
    font-size: 20px;
    color:rgb(14, 241, 241)
    
  }
  .container{
    display: flex;
    gap:5px ;
  }
  .box {
    flex: 1;
    padding: 10px;
    display: inline-block;
    background-color: white;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 20px;
   
    
  }
  .select{
    background-color:rgb(231, 236, 238);
    padding: 25px 30px ;
    float: left;
   
  }
  

  .btn1{
    font-size: 15px;
    border-radius: 40%;
    margin-right: 20px;
    padding: 5px 7px;
    background-color: rgb(68, 63, 95);
    color: white;
  }
  .gray{
    color: gray;
    font-size: 20px;
  }
  .parag1{
    padding: 10px 20px 10px 20px;
  }
  .img2{
    width: 370px;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
    
    
  }
  .box1{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
    margin-left: 100px;
  }
  .work-content{
    flex: 1;
  }
  .work-content h3{
    margin: 0;
    font-size: 20px;
  }
  .head{
    margin-left: 100px;
    font-size: 30px;
    font-weight: rgb(17, 11, 11);
    padding: 20px;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  footer {
    text-align: center;
    margin: 40px ;
  }