.navbar{
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 0;
    justify-content: flex-end;
  }
  .navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .navbar a:hover{
    background-color:rgb(255, 251, 251);
  }
.btn1{
    font-size: 15px;
    border-radius: 40%;
    margin-right: 20px;
    padding: 5px 7px;
    background-color: rgb(56, 29, 192);
    color: white;
  }
  .gray{
    color: gray;
    font-size: 20px;
  }
.img2{
    width: 370px;
    height: 270px;
    object-fit: cover;
    border-radius: 8px;
    }
  .box1{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
    margin-left: 100px;
  }
  .work-content{
    flex: 1;
  }
  .work-content h3{
    margin: 0;
    font-size: 20px;
  }
  .head{
    margin-left: 100px;
    font-size: 30px;
    font-weight: rgb(17, 11, 11);
    padding: 20px;
  }
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  footer {
    text-align: center;
    margin: 40px ;
  }